* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F1F1F1;
}

main {
    margin-left: 4rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.open-menu {
    position: relative;
    z-index: 100;
    top: 1rem;
    left: 1rem;
    padding: 4px;
    cursor: pointer;
}

.menu {
    display: none;
    background-color: #FFFFFF;
    padding-left: 3rem;
    position: absolute;
    width: 40%;
    height: 100vh;
}

.menu ul {
    padding-top: 3rem;
    list-style: none;
}

.menu ul li {
    padding: 2rem 1rem;
    text-align: center;
}

.menu ul li a:hover {
    text-decoration: underline;
}

.menu.active {
    display: block;
}

.close-menu {
    position: absolute;
    right: 3rem;
}

h1 {
    margin-top: 2rem;
}

.container-searchBar-addButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
    margin-top: 2rem;
}

.task-card {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 20px;
}

#addNewTask:not([open]) {
    display: none;
}


#addNewTask {
    width: 50%;
    height: 50vh;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

#addNewTask form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

form section {
    display: flex;
    flex-direction: column;
}

/* Centrer le `<dialog>` */
#addNewTask::backdrop {
    background: rgba(0, 0, 0, 0.5); /* Ajoute un fond semi-transparent */
}

.filters {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-item.active {
    padding-bottom: 1rem;
    border-bottom: 2px solid #000000;
}


.priority-card-low {
    background-color: lightgreen;
    width: fit-content;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
}

.priority-card-medium {
    background-color: orange;
    width: fit-content;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
}

.priority-card-high {
    background-color: indianred;
    width: fit-content;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
}


.priority-card-none {
    background-color: #9b9ea1;
    width: fit-content;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
}

.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
}

.container-tasks {
    margin: 3rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    width: 95%;
    place-items: center;
}