@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

body {
    background: #F1F1F1;
}

main {
    margin-left: 4rem;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

button {
    padding: 8px 16px;
    background-color: white;
    border-radius: 8px;
    border: 1px solid lightgrey;
    font-weight: 600;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 100px;
}

h1 {
    margin-top: 2rem;
}

.container-searchBar-addButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 3rem;
    margin-top: 2rem;
    position: relative;
}

/*Barre de recherche*/
#search-icon {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: rgba(0, 0, 0, 0.53);
}

.search {
    position: relative;
}

input[type = "search"] {
    width: 600px;
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgrey;
}

/* Ne pas afficher la croix de la barre de recherche */
input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

/*Bouton pour ajouter une tâche*/
.addTaskButton i {
    margin-right: 4px;
}

.addTaskButton:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}


/*Tâche*/
.task-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 10px;
    gap: 10px;
}

.task-card {
    width: 320px;
    min-height: 320px;
    height: fit-content;
    border: 1px solid black;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.task-card i {
    cursor: pointer;
}

.task-card p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}


/*Modale pour ajouter une tâche*/
#addNewTask:not([open]) {
    display: none;
}


#addNewTask {
    width: 50%;
    height: 70vh;
    padding: 20px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    margin: auto;
}

#addNewTask form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 80%;
}

#addNewTask form label {
    font-size: 0.8rem;
}

#addNewTask form input, #addNewTask form select {
    width: 250px;
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: 1px solid lightgrey;
}

.container-tasks {
    margin: 3.5rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    width: 95%;
    place-items: start center;
}

form section {
    display: flex;
    flex-direction: column;
}

#addNewTask::backdrop {
    background: rgba(0, 0, 0, 0.5);
}



/*Affichage des tâches*/
.filters {
    margin-top: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter-item {
    padding: 1rem;
    cursor: pointer;
}

.filter-item.active {
    border-bottom: 2px solid #000000;
}

.priority-card-low {
    background-color: lightgreen;
    width: fit-content;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
}

.priority-card-medium {
    background-color: orange;
    width: fit-content;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
}

.priority-card-high {
    background-color: indianred;
    width: fit-content;
    color: black;
    padding: 8px 16px;
    border-radius: 8px;
}

/*Modale de suppression*/
#deleteTaskModal {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
    width: 50%;
    margin: auto;
}

/*Responsive*/
@media (max-width: 900px) {
    main {
        margin-left: 3rem;
        margin-right: 3rem;
    }

    h1 {
        text-align: center;
    }
    .container-searchBar-addButton{
        flex-direction: column;
        align-items: center;
        gap: 2rem;
        margin-right: 0;
        margin-top: 2rem;
    }

    input[type = "search"] {
        width: 390px;
    }

    .filters {
        flex-direction: column;
    }

    .container-tasks{
        grid-template-columns: 1fr;
        place-items: center;
    }

    #addNewTask{
        width: 95%;
    }

    #deleteTaskModal{
        width: 95%;
    }
}

@media (max-width: 500px) {
    input[type = "search"] {
        width: 250px;
    }

    .task-card{
        width: 100%;
    }
}

